{% extends 'main.twig' %}
{% block content %}
<!-- Hero Section -->
<div class="container-fluid bg-light text-center py-5">
  <img src="images/base.png" height="300" width="500" alt="Hero Image" class="img-fluid" />
  <h1 class="display-4 mt-4">Discover Fitness and Happiness</h1>
  <!-- <a href="#" class="btn btn-danger mt-3">Get Started</a> -->
</div>
<!-- Tips Section -->

<div class="py-5">
  <div class="container my-5">
    <h2 class="text-center mb-4">Health Tips</h2>
    <div id="tips-container" class="row"></div>
    <div class="container text-center mt-3">
      <a href="/tips" class="btn btn-success">See More</a>
    </div>
  </div>
</div>

<!-- Articles Section -->
<div class="container my-5 bg-light p-3 rounded-3">
  <h2 class="text-center mb-4">Articles to Read</h2>
  <div id="articles-container" class="row"></div>
  <div class="container text-center mt-3">
    <a href="/articles" class="btn btn-success">See More</a>
  </div>
</div>

<div class="bg-dark py-5">
  <!-- Fitness Plan Section -->
  <div class="container py-5">
    <h2 class="text-cente text-white mb-4">Choose Your Fitness Plan</h2>
    <div id="plans-container" class="row"></div>
  </div>
</div>
<script>
  const token = localStorage.getItem('access_token');

  document.addEventListener('DOMContentLoaded', function () {
    fetch('{{api_host}}/api/tips/', {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
        Authorization: `Bearer ${token}`,
      }
    })
      .then(response => response.json())
      .then(data => {
        const tipsContainer = document.querySelector('#tips-container');
        tipsContainer.innerHTML = ''
        data.forEach((tip, index) => {
          const tipCard = `
            <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Tip ${index + 1}</h5>
                  <p class="card-text">${tip.body}</p>
                </div>
              </div>
            </div>
          `;
          tipsContainer.innerHTML += tipCard;
        });
      })
      .catch(error => console.error('Error fetching tips:', error));

    fetch('{{api_host}}/api/articles/', {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
        Authorization: `Bearer ${token}`,
      }
    })
      .then(response => response.json())
      .then(data => {
        const articlesContainer = document.querySelector('#articles-container');
        articlesContainer.innerHTML = ''
        data.forEach((article, index) => {
          const articleCard = `
              <div class="col-md-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Article ${index + 1}</h5>
                    <p class="card-text">${article.title}</p>
                    <a href="/articles/${article.id}" class="btn btn-success">Read More</a>
                  </div>
                </div>
              </div>
            `;
          articlesContainer.innerHTML += articleCard;
        });
      })
      .catch(error => console.error('Error fetching articles:', error));


    fetch('{{api_host}}/api/plans/', {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
        Authorization: `Bearer ${token}`,
      }
    })
      .then(response => response.json())
      .then(data => {
        const plansContainer = document.querySelector('#plans-container');
        plansContainer.innerHTML = ''
        data.forEach((plan, index) => {
          const articleCard = `
             <div class="col-md-4">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Plan ${index + 1}</h5>
                  <p class="card-text">${plan.title}</p>
                  <a href="/plans/${plan.id}" class="btn btn-success">View Plan</a>
                </div>
              </div>
            </div>
            `;
          plansContainer.innerHTML += articleCard;
        });
      })
      .catch(error => console.error('Error fetching plans:', error));
  });
</script>
{% endblock content %}